@import "tailwindcss";

@config "../../tailwind.config.ts";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #00b3a6;
  --color-secondary: #ff6f61;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: var(--color-primary);
  --secondary: var(--color-secondary);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", sans-serif; /* For body */
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: 'Merriweather', serif; For headings */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
